body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.countdown, .judul-mapel, .nama-peserta {
    display: inline-block;
    width: 30%;
}

.soal-pdf {
    height: 80%;
    margin-bottom: 0px; /* Ubah nilai margin-bottom sesuai kebutuhan Anda */
}

.input-jawaban {
    height: 0%;
    padding: 20px;
    text-align: center;
    margin-top: -40px; /* Ubah nilai margin-top sesuai kebutuhan Anda */
}


input[type="text"] {
    width: 30px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
