/*
Color Palette
#FFF67E
#BFEA7C
#9BCF53
#9BCF53
*/


header,footer {
  background-color: #9BCF53 !important; /* Warna latar belakang header */
}

body {
  background-color: #FFF67E !important; /* Warna latar belakang halaman */
}

.btn-primary {
  background-color: #416D19 !important;
  border-color: #416D19 !important;
}

.btn-lemon {
  width: 50%;
}

.card {
  margin-bottom: 20px; /* Atur jarak antara setiap card */
}

/* Melayang */
.btn-floating {
  position: fixed;
  right: 25px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 0;
  z-index: 9999;
  color: white;
  transition: .2s;
}

.btn-floating:hover {
  width: auto;
  padding: 0 20px;
  cursor: pointer;
}

.btn-floating span {
  font-size: 16px;
  margin-left: 5px;
  transition: .2s;
  line-height: 0px;
  display: none;
}

.btn-floating:hover span {
  display: inline-block;
}

.btn-floating:hover img {
  margin-bottom: -3px;
}

.btn-floating.whatsapp {
  bottom: 25px;
  background-color: #34af23;
  border: 2px solid #fff;
}

.btn-floating.whatsapp:hover {
  background-color: #1f7a12;
}

.btn-floating.facebook {
  bottom: 85px;
  background-color: #1876f3;
  border: 2px solid #fff;
}

.btn-floating.facebook:hover {
  background-color: #1876f3;
}